root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space


[{*.mts,*.ts,*.tsx}]
indent_size = 2
tab_width = 2
ij_typescript_use_import_type = never

[{*.cjs,*.js,*.jsx}]
indent_size = 2
tab_width = 2
ij_javascript_use_import_type = never
