// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #ff794f; // 全局主色
@font-size-base: 16px; // 主字号

@heading-color: #8E8E93; // 标题色
@border-radius-base: 8px; // 组件/浮层圆角

// Input, Select
// --
@input-height-base: 40px;
@input-height-lg: 50px;
@input-padding-horizontal: 30px;

.ant-input.master,
.ant-input-password.master,
.ant-input-password.master .ant-input {
  &::placeholder {
    color: #FFC3A0;
  }

  color: #4A4A4A;
  background: #FFF9F5;
  border-color: #FFC3A0;
}

.ant-input,
.ant-picker,
.ant-input-password,
.ant-select.ant-select,
.ant-select-selector.ant-select-selector {
  border-radius: 26px;
  width: 400px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 26px;
}

.ant-input-password .ant-input {
  border-radius: 0;
}

.ant-select-multiple .ant-select-selector {
  padding-left: 30px;
}

.ant-select-multiple .ant-select-selection-search:first-child .ant-select-selection-search-input {
  margin-left: 0px;
}

// Modal
// --
@modal-header-bg: linear-gradient(90deg, rgba(255, 148, 114, 1) 0%, rgba(242, 112, 156, 1) 100%);
@modal-heading-color: #fff;

.ant-modal-footer {
  border: none;
  padding: 30px 16px;
  padding-top: 0;
  text-align: center;
}

// Button
// --
@btn-height-base: 40px;
@btn-height-lg: 50px;
@btn-padding-horizontal-base: 30px;
@btn-padding-horizontal-lg: 60px;
@btn-font-size-sm: 14px;
@btn-font-size-lg: 20px;

.ant-btn {
  border-radius: 26px;
  font-weight: bold;
}

.ant-btn-lg {
  min-width: 200px;
}

.ant-btn.ant-btn-shade {
  background: linear-gradient(90deg, rgba(255, 148, 114, 1) 0%, rgba(242, 112, 156, 1) 100%);
  border: none;
  color: #fff;

  &:hover {
    background: linear-gradient(90deg, rgba(255, 148, 114, 1) 0%, rgba(242, 112, 156, 1) 100%);
    color: #fff;
    opacity: .8;
  }
}

.ant-btn-background-ghost {
  border-width: 2px;
}

// Table
// --
@table-header-bg: #fff;
@table-header-color: #8E8E93;
@table-font-size: 14px;
@table-padding-vertical: 24px;
@table-padding-horizontal: 24px;

.ant-table.ant-table {
  font-size: @table-font-size;
}

.ant-table-row {
  color: #4a4a4a;
}

// zebra crossing
.ant-table-row.even-row {
  background: #FFF9F5;
}

.ant-table-row.odd-row {
  background: #fff;
}

.ant-table-thead>tr>th {
  padding-top: 30px;
  padding-bottom: 12px;
  font-weight: 400;
  border-color: #FFC3A0;
}

// Pagination
// ---
.ant-pagination {
  font-size: 14px;
}